{% load static %}
{% include 'base.html' %}

<!-- Page level plugins -->
<script src="{% static 'admin-vendor/chart.js/Chart.min.js' %}" defer></script>

<!-- Page level custom scripts -->
<script src="{% static 'admin-js/demo/chart-area-demo.js' %}" defer></script>
<script src="{% static 'admin-js/demo/chart-area-demo.js' %}" defer></script>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        
        {% include 'admin-sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% include 'admin-nav.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Add Coupon</h1>
                        <a href="{% url 'coupons' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Go Back</a>
                    </div>

                    <form>
                    <div class="add___cat___form">
                   <div>
                    <label for="sel1">Select Vendor</label>
                    <select class="form-control" id="vendor" name="vendor">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                   </div>
                   <div class="mt-2">
                    <label for="cou-title" class="form-label">Coupon Code</label>
                    <input type="text" class="form-control" id="cou-title" aria-describedby="Coupon">
            </div>
            <div class="mt-2">
                <label for="dis-title" class="form-label">Discount Amount</label>
                <input type="number" class="form-control" id="dis-title" aria-describedby="dsicount">
        </div>
        <div class="mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="used">
                <label class="form-check-label" for="used">
                  Is Used
                </label>
              </div>
    </div>
                
                </div>
                    

                </form>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const image = document.getElementById("product__img")
  image.style.display = "none"

  function forupload(e) {
    let fileVal = e.files[0];

    if (fileVal) {
      document.querySelector("#product__img").src = URL.createObjectURL(fileVal);
      image.style.display = "block"
    }
  }
        </script>
</body>