{% load static %} {% include 'main/base.html' %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/restaurantwise.css' %}" />

{% include 'main/leftsidebar.html' %}

<div class="hello" id="hello1">
  <div class="main_____content">


  <div class="category_____part mt-3">
    <p class="fw-bold fs-3">Category</p>
    <p class="view">
      <a class="view____all" href="#"
        >View All
        <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
      ></a>
    </p>
  </div>

  <!-- dishes card -->
  <div class="popular_____dishes mt-2">
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>

    <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>

  {% include 'main/rightsidebar.html' %}
</div>

<script src="{% static 'js/index-nav.js' %}"></script>
<script src="{% static 'js/index-nav-right.js' %}"></script>
