{% load static %} {% include 'main/base.html' %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/restaurantwise.css' %}" />

{% include 'main/leftsidebar.html' %}

<div class="hello" id="hello1">
  <div class="main_____content">
    <p class="fw-bold fs-2 text-center">Restaurant Name</p>
    <hr style="margin-block-end: 0; margin-block-start: 0" />
    <form>
    <div class="search____content mt-3">
      
      <div class="input-group  m-1">
        <input type="text" class="form-control box_____shadow" placeholder="Search Here...">
        <div class="input-group-append search____button">
          <button class="btn" type="button"><span class="iconify" data-icon="bi:search"></span></button>
        </div>
      </div>
      <div class="dropdown new____drop m-1">
        <a class="btn dropdown-toggle text-white box_____shadow" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown1
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown new____drop m-1">
        <a class="btn dropdown-toggle text-white box_____shadow" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown2
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="m-1">
      <button type="submit" class="btn btn-success box_____shadow">Submit</button>
      </div>
    
    </div>
  </form>


  <div class="category_____part mt-3">
    <p class="fw-bold">Popular Dishes</p>
    <p class="view">
      <a class="view____all" href="#"
        >View All
        <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
      ></a>
    </p>
  </div>

  <!-- dishes card -->
  <div class="popular_____dishes mt-2">
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- extra card -->
  <div class="category_____part mt-3">
    <p class="fw-bold">Popular Dishes</p>
    <p class="view">
      <a class="view____all" href="#"
        >View All
        <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
      ></a>
    </p>
  </div>

  <!-- dishes card -->
  <div class="popular_____dishes mt-2">
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="category_____part mt-3">
    <p class="fw-bold">Popular Dishes</p>
    <p class="view">
      <a class="view____all" href="#"
        >View All
        <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
      ></a>
    </p>
  </div>

  <!-- dishes card -->
  <div class="popular_____dishes mt-2">
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="individual____dishes">
      <img src="{% static 'images/kacchi.jpeg' %}" />
      <div class="discount_____offer">
        <p class="discounttt fw-bold">15% off</p>
      </div>
      <div class="hart___icon">
        <form>
          <p>
            <button type="submit">
              <span
                class="iconify main_____heart___icon"
                data-icon="clarity:heart-solid"
              ></span>
            </button>
          </p>
        </form>
      </div>
      <div class="popular____card_____details">
        <p class="card____star">
          <span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span
          ><span class="iconify" data-icon="emojione:star"></span>
        </p>
        <div class="card____price">
          <div>
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
          </div>
          <div class="add____btn___div">
            <button class="add_____btn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% include 'main/rightsidebar.html' %}
</div>

<script src="{% static 'js/index-nav.js' %}"></script>
<script src="{% static 'js/index-nav-right.js' %}"></script>
