@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
body {
  background-color: var(--lite-white);
}


.view____all___icon{
  transition: .4s all ease-in-out;
}
.view:hover .view____all___icon{
  transform: rotate(180deg);
}

/* mobile nav style */
.main_____mobile___menu{
  display: none !important;
}
.mobo{
  color: var(--black) !important;
  transition: .2s all ease-in-out;
  font-size: 42px;
  cursor: pointer;
}
.mobotitle{
  color: var(--black) !important;
  transition: .2s all ease-in-out;
}
.mobotitle:hover{
  color: var(--orange) !important;
}
.mobo:hover{
  color: var(--orange) !important;
  transform: scale(1.1);
}


.first____class::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.first____class::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.first____class::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.first____class::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.first____class {
  background-color: var(--white);
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  overflow-y: auto;
  padding-bottom: 1rem;
}
.close___icon{
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 30px;
  right: 0;
  font-weight: 600;
  transition: .2s all ease-in-out;
  display: none;
}

.closeIcon{
  font-size: 35px;
  cursor: pointer;
  transition: .2s all ease-in-out;
  display: none;
}
.closeIcon:hover{
  transform: scale(1.1);
  color: var(--orange);
}
.main______class {
  display: flex;
  justify-content: space-between;
}

.navClass{
  position: fixed !important;
  top: 0 !important;
  z-index: 10000000;
  left: 0 !important;
}
.navClass1{
  position: fixed !important;
  top: 0 !important;
  z-index: 10000000;
  right: 0 !important;
}

/* first class title */
.title {
  font-family: "Merriweather", serif;
}
.underTitle____content p,
.last____title____content p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.admin____overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.admin____overlayyyy{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.admin____overlayyyy{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.admin____overlayyyy.show__adminOverlayyy {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
 
}
.admin____overlay.show__adminOverlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
 
}
.first____class____wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashborad {
  background-color: var(--orange);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}
.dashborad:hover {
  transform: scale(1.1);
}
.rest____sidebar___link {
  color: var(--ash);
  transition: 0.2s all ease-in-out;
}
.rest____sidebar___link:hover {
  color: var(--orange) !important;
}
.underTitle____content p {
  margin-top: 1.5rem;
}
.side___icon {
  margin-right: 0.25rem;
}
.upgradeBtn {
  border: 2px solid var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--white);
  transition: 0.2s all ease-in-out;
  font-weight: 700;
}
.upgradeBtn:hover {
  border: 2px solid var(--white);
  background-color: var(--orange);
  color: var(--white);
}
.last____title____content {
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
}
.dot {
  color: var(---orange);
}
.last____title____content:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* main content style */
.hello {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 18.5%;
  width: 81.5%;
}
.search____bar {
  color: var(--orange);
  font-size: 1.2rem;
  cursor: pointer;
}
.search_____bar input {
  border: none;
  outline: none;
  margin-left: 10px;
}
.search_____bar p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.search_____bar {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 35%;
  border-radius: 10px;
  padding: 6px;
}
.main_____header____search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main_____content {
  width: 70%;
}
.category_____part p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.view____all {
  color: var(--orange) !important;
}
.category_____part {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.food____name {
  color: var(--ash) !important;
}
.all____category a p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.all____category {
  background-color: var(--white);
  width: 8rem;
  border-radius: 8px;
  padding: 21px;
  transition: 0.2s all ease-in-out;
}
.all____category:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.all____category:hover .food____name {
  color: var(--orange) !important;
}
.food____icon {
  font-size: 1.5rem;
}
.extended____category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
/* popular dishes card */
.individual____dishes img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  position: absolute;
  left: 22.5%;
  top: 9%;
  border-radius: 7px;
}
.individual____dishes {
  transition: 0.2s all ease-in-out;
  background: var(--white);
  width: 16rem;
  height: 17rem;
  position: relative;
  border-radius: 5px;
}
.card____star {
  margin-block-end: 0;
  margin-block-start: 0;
  /* position: absolute;
  top: 66%;
  left: 7%; */
}
.popular____card_____details {
  position: absolute;
  top: 67%;
  left: 10%;
}
.popular____card_____details___recent {
  position: absolute;
  top: 71%;
  left: 29%;
}
.hart___icon p button {
  border: none;
  background: transparent;
}
.dollar {
  color: var(--orange);
}
.card____price p,
.card____price____order p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.card____price____order p {
  text-align: center;
}
.card____price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_____btn {
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px;
  border: none;
  width: 1.5rem;
  padding: 2px;
  border: 1px solid var(---orange);
  transition: 0.2s all ease-in-out;
}
.add____btn___div {
  position: absolute;
  top: 35px;
  left: 206%;
}
.add____btn___div:hover button {
  background-color: var(--white);
  border: 1px solid var(--orange);
  color: var(--orange);
  transform: scale(1.1);
}
.individual____dishes:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.discount_____offer p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.discount_____offer {
  background: var(--lite-red);
  display: inline-block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 3%;
  left: 0;
}
.discounttt {
  font-size: 16px;
  padding: 2px 10px;
  color: var(--white);
}
.main_____heart___icon {
  color: var(--ash);
  transition: 0.2s all ease-in-out;
}
.main_____heart___icon:hover {
  color: var(--lite-red);
  transform: scale(1.1);
}
.main_____heart___icon___ash,
.order______details {
  color: var(--ash);
}
.order______details {
  font-size: 16px;
}
.hart___icon {
  position: absolute;
  top: -1%;
  left: 83%;
  font-size: 28px;
}
.popular_____dishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* banner part style */
.banner______part img {
  width: 1116px;
  height: 12rem;
  object-fit: cover;
}
.banner______part {
  position: relative;
}
.banner____overlay p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.banner____overlay2 p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.banner____overlay {
  position: absolute;
  top: 9%;
  left: 5%;
}
.banner____overlay2 {
  position: absolute;
  top: 9%;
  left: 5%;
}

/* right content style */
/* scroll bar css */
/* width */
.right_____content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.right_____content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.right_____content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.right_____content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.right_____content {
  position: fixed;
  top: 0;
  right: 0;
  width: 23%;
  background-color: var(--white);
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 1rem;
  transition: 0.5s all ease-in-out;
}

.account___part p {
  margin-block-end: 0;
  margin-block-start: 0;
  color: var(--black) !important;
  transition: 0.2s all ease-in-out;
}
.account___part p:hover {
  transform: scale(1.1);
  color: var(--orange) !important;
}
.account___part {
  padding: 0 16px;
}

/* balance style */
.balance____part {
  padding: 0 16px;
  position: relative;
  width: 100%;
}
.balance____part img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.balance____overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 36%;
  left: 10%;
}
.first___inner___div p,
.first____top p,
.main____address p,
.order___menu__price p,
.order_____menu p,
.main____order___menu___container p,
.local____Service p,
.coupon p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.coupon____btn{
  border: none;
  background: transparent;
  transition: .2s all ease-in-out;
}
.coupon____btn:hover{
  transform: scale(1.1);
}
.first___inner___div {
  background: var(--white);
  padding: 0.6rem 0.9rem;
  border-radius: 14px;
}
.first____icon {
  display: inline-block;
  background: var(--white);
  padding: 5px 10px;
  border-radius: 7px;
}
.first____top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_____balance {
  display: flex;
  align-items: center;
}
.first____top button {
  border: none;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
}
.first____top button:hover {
  transform: scale(1.1);
}

/* address style */
.main____address {
  padding: 0 16px;
}
.address____title {
  color: var(--ash);
  font-size: 16px;
  font-weight: 600;
}
.change___btn button {
  border: 1px solid var(--orange);
  background-color: var(--white);
  color: var(--orange);
  padding: 0px 15px;
  border-radius: 12px;
  transition: 0.2s all ease-in-out;
}
.change___btn button:hover {
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--white);
}
.address____details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address____icon {
  display: flex;
  align-items: center;
}
.iconicon {
  color: var(--orange);
}
.address______details {
  color: var(--ash);
  font-size: 16px;
}
.details_____note button {
  border: 1px solid var(--ash);
  background-color: var(--white);
  color: var(--ash);
  padding: 0px 15px;
  border-radius: 12px;
  transition: 0.2s all ease-in-out;
}
.details_____note button:hover {
  border: 1px solid var(--ash);
  background: var(--ash);
  color: var(--white);
}

/* order menu style */
.order___menu__price p {
  color: var(--ash);
}
.main____order___menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order___menu__img img {
  width: 55px;
  height: 57px;
  object-fit: cover;
  border-radius: 5px;
}
.main____order___menu___container {
  padding: 0 16px;
  border-bottom: 1px solid var(--ash);
  padding-bottom: 1rem;
}
.service_____container {
  padding: 0 16px;
}
.local____Service p {
  font-size: 16px;
  font-weight: 600;
}
.service {
  color: var(--ash);
}
.coupon input {
  outline: none;
  border: none;
  width: 82%;
}
.coupon input::-webkit-input-placeholder {
  font-size: 16px;
  letter-spacing: 1px;
}
.coupon {
  border: 2px solid var(--orange);
  width: 70%;
  padding: 7px;
  border-radius: 11px;
  margin: 0 auto;
}
.checkoutBTN button {
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 11px;
  width: 100%;
  padding: 7px 0;
  font-weight: 600;
}
.checkoutBTN button:hover {
  border: 1px solid var(--orange);
  background: var(--white);
  color: var(--orange);
  transition: 0.2s all ease-in-out;
}
.checkoutBTN {
  width: 70%;
  margin: 0 auto;
}

/* Media queryy */
@media (max-width: 1482px) {
  .first___inner___div {
    padding: 0.1rem 0.9rem;
  }
  .first____icon {
    padding: 2px 7px;
  }
  .balance____overlay {
    left: 6%;
  }
  .first____top {
    margin: 0 !important;
  }
  .change___btn button {
    font-size: 16px;
  }
  .details_____note button {
    font-size: 16px;
  }
  .order_____menu p {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  .balance_____class {
    font-size: 16px !important;
  }
  .first___inner___div {
    padding: 0rem 0.7rem;
  }
  .first____icon {
    padding: 0 5px;
  }
  .balance____overlay {
    top: 49%;
  }
  .hello {
    left: 20%;
    width: 80%;
  }
  .main_____content {
    width: 65%;
  }
  .right_____content {
    width: 25%;
  }
  .first____class {
    width: 18%;
  }
}
@media (max-width: 1200px) {
  .first____class {
    width: 20%;
  }
  .hello {
    left: 22%;
    width: 78%;
  }
}
@media (max-width: 1428px) {
  .search_____bar input {
    width: 50%;
  }
}
@media (max-width: 1314px) {
  .extended____category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1724px) {
  .individual____dishes {
    width: 15rem;
    height: 16rem;
  }
  .individual____dishes img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
}
@media (max-width: 1610px) {
  .individual____dishes {
    width: 13rem;
  }
  .individual____dishes img {
    width: 7rem;
    height: 7rem;
  }
  .add____btn___div {
    position: absolute;
    top: 35px;
    left: 181%;
  }
  .hart___icon {
    position: absolute;
    top: -1%;
    left: 82%;
  }
}
@media (max-width: 1403px) {
  .individual____dishes {
    width: 12rem;
    height: 14rem;
  }
  .individual____dishes img {
    width: 6rem;
    height: 6rem;
  }
  .popular____card_____details {
    position: absolute;
    top: 62%;
    left: 6%;
  }
}
@media (max-width: 1301px) {
  .individual____dishes {
    width: 14rem;
    height: 15rem;
  }
  .individual____dishes img {
    width: 7rem;
    height: 7rem;
  }
  .popular____card_____details {
    position: absolute;
    top: 62%;
    left: 6%;
  }
  .add____btn___div {
    position: absolute;
    left: 154%;
  }
  .hart___icon {
    position: absolute;
    top: -1%;
    left: 79%;
  }
}
@media (max-width: 1211px) {
  .add____btn___div {
    position: absolute;
    left: 208%;
  }
  .hart___icon {
    position: absolute;
    top: -1%;
    left: 75%;
  }
  .popular_____dishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 1371px) {
  .popular____card_____details___recent {
    position: absolute;
    top: 71%;
    left: 24%;
  }
}
@media (max-width: 1298px) {
  .popular____card_____details___recent {
    position: absolute;
    top: 71%;
    left: 25%;
  }
}
@media (max-width: 1141px){
  .individual____dishes{
    width: 12rem;
  }
  .add____btn___div{
    position: absolute;
    left: 174%;
  }
}
@media (max-width: 1092px) {
  .first____class {
    position: fixed;
    top: 0;
    left: -100%;
    width: 33%;
  }
  .right_____content {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
  }
  .main_____content{
    width: 100%;
    padding: 10px;
  }
  .hello{
    position: relative;
    left: 0;
    width: 100%;
  }
  .popular_____dishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .individual____dishes img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    position: absolute;
    left: 22.5%;
    top: 9%;
    border-radius: 7px;
  }
  .closeIcon{
    display: flex;
  }
  .individual____dishes {
    transition: 0.2s all ease-in-out;
    background: var(--white);
    width: 16rem;
    height: 17rem;
    position: relative;
    border-radius: 5px;
  }
  .hart___icon {
    position: absolute;
    top: -1%;
    left: 83%;
    font-size: 28px;
  }
  .add____btn___div {
    position: absolute;
    top: 35px;
    left: 234%;
  }
  .popular____card_____details {
    position: absolute;
    top: 67%;
    left: 10%;
  }
  .popular____card_____details___recent {
    position: absolute;
    top: 71%;
    left: 29%;
  }
  .main_____mobile___menu{
    display: flex !important;
  }
  .close___icon{
    display: block;
  }
}
@media (max-width: 874px){
.first____class {
    width: 36%;
}
}
@media (max-width: 750px){
.first____class {
    width: 42%;
}
}
@media (max-width: 600px){
  .first____class {
      width: 100%;
  }
  }
@media (max-width: 942px){
  .right_____content{
    width: 38%;
  }
} 
@media (max-width: 785px){
  .right_____content{
    width: 42%;
  }
} 
@media (max-width: 700px){
  .right_____content{
    width: 47%;
  }
} 
@media (max-width: 600px){
  .right_____content{
    width: 100%;
  }
  .balance____part {
    padding: 0 16px;
    position: relative;
    width: 100%;
  }
  .balance____part img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .balance____overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 36%;
    left: 10%;
  }
  .first___inner___div {
    background: var(--white);
    padding: 0.6rem 0.9rem;
    border-radius: 14px;
  }
  .first____icon {
    display: inline-block;
    background: var(--white);
    padding: 5px 10px;
    border-radius: 7px;
  }
}

@media (max-width: 988px){
  .individual____dishes{
    width: 15rem;
  }
  .popular_____dishes{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .add____btn___div {
    position: absolute;
    left: 193%;
}
}
@media (max-width: 828px){
  .individual____dishes img{
    width: 7rem;
    height: 7rem;
    left: 19.5%;
  }
  .individual____dishes{
    width: 12rem;
  }
  .add____btn___div{
    left: 166%;
  }
  .popular____card_____details___recent{
    left: 23%;
  }
}
@media (max-width: 710px){
  .popular_____dishes{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
  }
  
}
@media (max-width: 520px){
  .individual____dishes {
    width: 90%;
}
.individual____dishes img {
  width: 58%;
  height: 10rem;
  left: 20.5%;
}
.add____btn___div {
  left: 327%;
}
.popular____card_____details {
  position: absolute;
  top: 71%;
  left: 10%;
}
.popular_____dishes{
  display: flex;
  justify-content: center;
}
.popular____card_____details___recent{
  position: absolute;
  top: 73%;
  left: 34%;
}
}
@media (max-width: 494px){
  .add____btn___div {
    left: 301%;
}
}
@media (max-width: 446px){
  .add____btn___div {
    left: 281%;
}
}
@media (max-width: 414px){
  .add____btn___div {
    left: 262%;
}
}
@media (max-width: 390px){
  .add____btn___div {
    left: 238%;
}
}
@media (max-width: 362px){
  .add____btn___div {
    left: 221%;
}
}
@media (max-width: 336px){
  .add____btn___div {
    left: 239%;
}
.individual____dishes{
  width: 100%;
}
}
@media (max-width: 328px){
  .add____btn___div {
    left: 222%;
}
}
@media (max-width: 308px){
  .add____btn___div {
    left: 208%;
}
}
@media (max-width: 292px){
  .add____btn___div {
    left: 197%;
}
}
@media (max-width: 520px){
.popular____card_____details___recent {
    position: absolute;
    top: 73%;
    left: 30%;
}
}