@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
body {
  background-color: var(--lite-white);
}
.first____class {
  background-color: var(--white);
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.second____class {
  background-color: black;
  width: 55%;
}
.third____class {
  background-color: blue;
  width: 19%;
}
.main______class {
  display: flex;
  justify-content: space-between;
}

/* first class title */
.title {
  font-family: "Merriweather", serif;
}
.underTitle____content p,
.last____title____content p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.first____class____wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashborad {
  background-color: var(--orange);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}
.dashborad:hover {
  transform: scale(1.1);
}
.rest____sidebar___link {
  color: var(--ash);
  transition: 0.2s all ease-in-out;
}
.rest____sidebar___link:hover {
  color: var(--orange) !important;
}
.underTitle____content p {
  margin-top: 1.5rem;
}
.side___icon {
  margin-right: 0.25rem;
}
.upgradeBtn {
  border: 2px solid var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--white);
  transition: 0.2s all ease-in-out;
  font-weight: 700;
}
.upgradeBtn:hover {
  border: 2px solid var(--white);
  background-color: var(--orange);
  color: var(--white);
}
.last____title____content {
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
}
.dot {
  color: var(---orange);
}
.last____title____content:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* main content style */
.hello {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 18.5%;
  width: 81.5%;
}
.search____bar {
  color: var(--orange);
  font-size: 1.2rem;
  cursor: pointer;
}
.search_____bar input {
  border: none;
  outline: none;
  margin-left: 10px;
}
.search_____bar p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.search_____bar {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 35%;
  border-radius: 10px;
  padding: 6px;
}
.main_____header____search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main_____content {
  width: 70%;
}
.category_____part p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.view____all {
  color: var(--orange) !important;
}
.category_____part {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.food____name {
  color: var(--ash) !important;
}
.all____category a p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.all____category {
  background-color: var(--white);
  width: 8rem;
  border-radius: 8px;
  padding: 21px;
  transition: 0.2s all ease-in-out;
}
.all____category:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.all____category:hover .food____name {
  color: var(--orange) !important;
}
.food____icon {
  font-size: 1.5rem;
}
.extended____category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* popular dishes card */
.individual____dishes img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  position: absolute;
  left: 22.5%;
  top: 9%;
  border-radius: 7px;
}
.individual____dishes {
  transition: 0.2s all ease-in-out;
  background: var(--white);
  width: 16rem;
  height: 17rem;
  position: relative;
  border-radius: 5px;
}
.card____star {
  margin-block-end: 0;
  margin-block-start: 0;
  /* position: absolute;
  top: 66%;
  left: 7%; */
}
.popular____card_____details {
  position: absolute;
  top: 67%;
  left: 10%;
}
.popular____card_____details___recent {
  position: absolute;
  top: 71%;
  left: 29%;
}
.hart___icon p button {
  border: none;
  background: transparent;
}
.dollar {
  color: var(--orange);
}
.card____price p,
.card____price____order p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.card____price____order p {
  text-align: center;
}
.card____price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_____btn {
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px;
  border: none;
  width: 1.5rem;
  padding: 2px;
  border: 1px solid var(---orange);
  transition: 0.2s all ease-in-out;
}
.add____btn___div {
  position: absolute;
  top: 35px;
  left: 206%;
}
.add____btn___div:hover button {
  background-color: var(--white);
  border: 1px solid var(--orange);
  color: var(--orange);
  transform: scale(1.1);
}
.individual____dishes:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.discount_____offer p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.discount_____offer {
  background: var(--lite-red);
  display: inline-block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 3%;
  left: 0;
}
.discounttt {
  font-size: 16px;
  padding: 2px 10px;
  color: var(--white);
}
.main_____heart___icon {
  color: var(--ash);
  transition: 0.2s all ease-in-out;
}
.main_____heart___icon:hover {
  color: var(--lite-red);
  transform: scale(1.1);
}
.main_____heart___icon___ash,
.order______details {
  color: var(--ash);
}
.order______details {
  font-size: 16px;
}
.hart___icon {
  position: absolute;
  top: -1%;
  left: 83%;
  font-size: 28px;
}
.popular_____dishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* banner part style */
.banner______part img {
  width: 1116px;
  height: 12rem;
  object-fit: cover;
}
.banner______part {
  position: relative;
}
.banner____overlay p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.banner____overlay2 p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.banner____overlay {
  position: absolute;
  top: 9%;
  left: 5%;
}
.banner____overlay2 {
  position: absolute;
  top: 9%;
  left: 5%;
}

/* right content style */
.right_____content {
  width: 28%;
  background-color: var(--white);
}

.account___part p {
  margin-block-end: 0;
  margin-block-start: 0;
  color: var(--black) !important;
  transition: 0.2s all ease-in-out;
}
.account___part p:hover {
  transform: scale(1.1);
  color: var(--orange) !important;
}
.account___part {
  padding: 0 16px;
}

/* balance style */
.balance____part {
  padding: 0 16px;
  position: relative;
  width: 100%;
}
.balance____part img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.balance____overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 36%;
  left: 10%;
}
.first___inner___div p,
.first____top p,
.main____address p,
.order___menu__price p,
.order_____menu p,
.main____order___menu___container p,
.local____Service p,
.coupon p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.first___inner___div {
  background: var(--white);
  padding: 0.6rem 0.9rem;
  border-radius: 14px;
}
.first____icon {
  display: inline-block;
  background: var(--white);
  padding: 5px 10px;
  border-radius: 7px;
}
.first____top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_____balance {
  display: flex;
  align-items: center;
}
.first____top button {
  border: none;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
}
.first____top button:hover {
  transform: scale(1.1);
}

/* address style */
.main____address {
  padding: 0 16px;
}
.address____title {
  color: var(--ash);
  font-size: 16px;
  font-weight: 600;
}
.change___btn button {
  border: 1px solid var(--orange);
  background-color: var(--white);
  color: var(--orange);
  padding: 0px 15px;
  border-radius: 12px;
  transition: 0.2s all ease-in-out;
}
.change___btn button:hover {
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--white);
}
.address____details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address____icon {
  display: flex;
  align-items: center;
}
.iconicon {
  color: var(--orange);
}
.address______details {
  color: var(--ash);
  font-size: 16px;
}
.details_____note button {
  border: 1px solid var(--ash);
  background-color: var(--white);
  color: var(--ash);
  padding: 0px 15px;
  border-radius: 12px;
  transition: 0.2s all ease-in-out;
}
.details_____note button:hover {
  border: 1px solid var(--ash);
  background: var(--ash);
  color: var(--white);
}

/* order menu style */
.order___menu__price p {
  color: var(--ash);
}
.main____order___menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order___menu__img img {
  width: 55px;
  height: 57px;
  object-fit: cover;
  border-radius: 5px;
}
.main____order___menu___container {
  padding: 0 16px;
  border-bottom: 1px solid var(--ash);
  padding-bottom: 1rem;
}
.service_____container {
  padding: 0 16px;
}
.local____Service p {
  font-size: 16px;
  font-weight: 600;
}
.service {
  color: var(--ash);
}
.coupon input {
  outline: none;
  border: none;
  width: 82%;
}
.coupon input::-webkit-input-placeholder {
  font-size: 16px;
  letter-spacing: 1px;
}
.coupon {
  border: 2px solid var(--orange);
  width: 70%;
  padding: 7px;
  border-radius: 11px;
  margin: 0 auto;
}
.checkoutBTN button {
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 11px;
  width: 100%;
  padding: 7px 0;
  font-weight: 600;
}
.checkoutBTN button:hover{
  border: 1px solid var(--orange);
  background: var(--white);
  color: var(--orange);
  transition: .2s all ease-in-out;
}
.checkoutBTN {
  width: 70%;
  margin: 0 auto;
}
