{% load static %} {% include 'main/base.html' %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<!-- slick css -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
/>


{% include 'main/leftsidebar.html' %}
<div class="hello" id="hello1">
  <div class="main_____content">
    <div class="main_____header____search mt-2">
      <p class="fs-4 fw-bold">Hello {{ request.user.username }}</p>
      <div class="search_____bar">
        <p>
          <span class="iconify search____bar" data-icon="cil:search"></span>
        </p>
        <form>
          <input type="text" placeholder="Search Here..." />
        </form>
      </div>
    </div>

    <!-- banner part -->

    <div class="banner______part mt-2">
      <div class="first____banner">
        <img src="{% static 'images/bg-1.jpeg' %}" />
        <div class="banner____overlay">
          <p class="text-white fs-4">Get Discount Voucher</p>
          <p class="text-white fs-5">Upto 100%</p>
          <p class="text-white" style="font-size: 15px">
            Get Discount Voucher Get Discount Voucher Get Discount Voucher Get
            Discount <br />
            Voucher Get Discount Voucher Get Discount Voucher
          </p>
        </div>
      </div>
      <div class="first____banner">
        <img src="{% static 'images/bg-2.jpeg' %}" />
        <div class="banner____overlay2">
          <p class="text-white fs-4">Get Discount Voucher</p>
          <p class="text-white fs-5">Upto 100%</p>
          <p class="text-white" style="font-size: 15px">
            Get Discount Voucher Get Discount Voucher Get Discount Voucher Get
            Discount <br />
            Voucher Get Discount Voucher Get Discount Voucher
          </p>
        </div>
      </div>
    </div>

    <!-- cateory part -->

    <div class="category_____part">
      <p class="fw-bold">Category</p>
      <p class="view">
        <a class="view____all" href="#"
          >View All
          <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
        ></a>
      </p>
    </div>

    <div class="extended____category mt-2">
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione-v1:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione-v1:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
      <div class="all____category">
        <a class="cat____link" href="#">
          <p class="text-center">
            <span
              class="iconify food____icon"
              data-icon="emojione-v1:pot-of-food"
            ></span>
          </p>
          <p class="food____name text-center">Bakery</p>
        </a>
      </div>
    </div>

    <div class="category_____part">
      <p class="fw-bold">Popular Dishes</p>
      <p class="view">
        <a class="view____all" href="#"
          >View All
          <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
        ></a>
      </p>
    </div>

    <!-- dishes card -->
    <div class="popular_____dishes mt-2">
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="discount_____offer">
          <p class="discounttt fw-bold">15% off</p>
        </div>
        <div class="hart___icon">
          <form>
            <p>
              <button type="submit">
                <span
                  class="iconify main_____heart___icon"
                  data-icon="clarity:heart-solid"
                ></span>
              </button>
            </p>
          </form>
        </div>
        <div class="popular____card_____details">
          <p class="card____star">
            <span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span
            ><span class="iconify" data-icon="emojione:star"></span>
          </p>
          <div class="card____price">
            <div>
              <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
              <p style="font-size: 16px" class="fw-bold all____price">
                <span class="dollar">$</span>100
              </p>
            </div>
            <div class="add____btn___div">
              <button class="add_____btn">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- all restaurant  -->
    <div class="category_____part">
      <p class="fw-bold">All Restaurant</p>
      <p class="view">
        <a class="view____all" href="#"
          >View All
          <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
        ></a>
      </p>
    </div>

    <!-- all restaurant card start -->
    <div class="main____all____rest mt-2">
      
        <div class="restaurant____card">
          <div class="hart___icon">
            <form>
              <p>
                <button type="submit">
                  <span
                    class="iconify main_____heart___icon"
                    data-icon="clarity:heart-solid"
                  ></span>
                </button>
              </p>
            </form>
          </div>
          <a href="#"><img src="{% static 'images/kacchi.jpeg' %}" /></a>
          <div class="rest____details mt-3">
            <p class="text-center fw-bold text-dark">Restaurant Name</p>
            <p class="text-center">
              <span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span>
            </p>
          </div>
        </div>
        <div class="restaurant____card">
          <div class="hart___icon">
            <form>
              <p>
                <button type="submit">
                  <span
                    class="iconify main_____heart___icon"
                    data-icon="clarity:heart-solid"
                  ></span>
                </button>
              </p>
            </form>
          </div>
          <a href="#"><img src="{% static 'images/kacchi.jpeg' %}" /></a>

          <div class="rest____details mt-3">
            <p class="text-center fw-bold text-dark">Restaurant Name</p>
            <p class="text-center">
              <span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span
              ><span class="iconify" data-icon="emojione:star"></span>
            </p>
          </div>
        </div>
        
      
      
    </div>
    <!-- all restaurant card end -->



    <!-- recect order  -->

    <div class="category_____part">
      <p class="fw-bold">Recent Order</p>
      <p class="view">
        <a class="view____all" href="#"
          >View All
          <span class="iconify view____all___icon" data-icon="akar-icons:triangle-right"></span
        ></a>
      </p>
    </div>

    <div class="popular_____dishes mt-2">
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="hart___icon">
          <p>
            <span
              class="iconify main_____heart___icon___ash"
              data-icon="clarity:heart-solid"
            ></span>
          </p>
        </div>
        <div class="popular____card_____details___recent">
          <div class="card____price____order">
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
            <p class="order______details">4.88 km &nbsp; &nbsp; 21 min</p>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="hart___icon">
          <p>
            <span
              class="iconify main_____heart___icon___ash"
              data-icon="clarity:heart-solid"
            ></span>
          </p>
        </div>
        <div class="popular____card_____details___recent">
          <div class="card____price____order">
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
            <p class="order______details">4.88 km &nbsp; &nbsp; 21 min</p>
          </div>
        </div>
      </div>
      <div class="individual____dishes">
        <img src="{% static 'images/kacchi.jpeg' %}" />
        <div class="hart___icon">
          <p>
            <span
              class="iconify main_____heart___icon___ash"
              data-icon="clarity:heart-solid"
            ></span>
          </p>
        </div>
        <div class="popular____card_____details___recent">
          <div class="card____price____order">
            <p class="fw-bold" style="font-size: 16px">Fish Burger</p>
            <p style="font-size: 16px" class="fw-bold all____price">
              <span class="dollar">$</span>100
            </p>
            <p class="order______details">4.88 km &nbsp; &nbsp; 21 min</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'main/rightsidebar.html' %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script
src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCruA3SL5gsz0B3O6N9PyStxcpRqd0tWMo&callback=initMap"
async
defer
></script>

<script src="{% static 'js/mapInteg.js' %}"></script>
<script src="{% static 'js/index-nav.js' %}"></script>
<script src="{% static 'js/index-nav-right.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

