{% load static %}
{% include 'main/base.html' %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<div class="first____class">
    <div class="first____class____wrap">
        <div class="nav____title">
            <p class="title fs-4 mt-4">GoMeal<span class="dot">.</span></p>
        </div>

        <div class="underTitle____content">
            <p class="dashborad"><a class="text-white" href="#"><span class="iconify side___icon" data-icon="clarity:dashboard-outline-badged"></span> Dashboard</a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon" data-icon="ep:food"></span> Food Center </a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon" data-icon="gis:poi-favorite-o"></span>Favorite </a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon"  data-icon="bpmn:intermediate-event-catch-message"></span> Message </a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon" data-icon="ic:outline-history-toggle-off"></span> Order History </a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon"  data-icon="healthicons:bills-outline"></span> Bills </a></p>
            <p><a class="rest____sidebar___link" href="#"><span class="iconify side___icon"  data-icon="ep:setting"></span> Setting </a></p>
           
        </div>

        <div class="last____title____content mt-5">
            <p class="text-white">asdadas asdasdas</p>
            <p class="text-white">asdadas asdasdas</p>
            <p class="text-white">asdadas asdasdas</p>
            <div class="d-flex justify-content-center mt-3"><button class="upgradeBtn">Upgrade</button></div>
        </div>

    </div>
</div>

<div class="hello">
   <div class="main_____content">
    <div class="main_____header____search">
        <p class="fs-4 fw-bold">Hello, Samantha</p>
        <div class="search_____bar">
            <p><span class="iconify search____bar" data-icon="cil:search"></span></p>
            <form>
                <input type="text" placeholder="Search Here...">
            </form>
        </div>
    </div>

    <!-- <div class="banner______part">
        <img src="">
    </div> -->

    <div class="category_____part">
        <p class="fw-bold">Category</p>
        <p><a class="view____all" href="#">View All <span class="iconify" data-icon="akar-icons:triangle-right"></span></a></p>
    </div> 

    <div class="extended____category mt-2">
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
        <div class="all____category m-2"><a class="cat____link" href="#">
            <p class="text-center"><span class="iconify food____icon" data-icon="emojione:pot-of-food"></span></p>
            <p class="food____name text-center">Bakery</p>
        </a></div>
    </div>

   </div>
</div>