{% load static %} 
{% include 'main/base.html' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />


<!-- mobile menu navbar start -->
<div class="main_____mobile___menu d-flex justify-content-between align-items-center p-2">
    <p id="burger____menu"><span class="iconify mobo" data-icon="mdi-light:hamburger"></span></p>
    <p class="title fs-4 fw-bold"><a class="mobotitle" href="#">GoMeal<span class="dot">.</span></a></p>
    <p id="cartIcon"><span class="iconify mobo" data-icon="bi:cart-check"></span></p>
  </div>
  <!-- mobile menu navbar end -->

<div class="first____class" id="first-side">
    <div class="first____class____wrap">
      <div class="close___icon" id="close">
      <p><span class="iconify" data-icon="ei:close-o"></span></p>
      </div>
      <div class="nav____title">
        <p class="title fs-4 mt-4">GoMeal<span class="dot">.</span></p>
      </div>
  
      <div class="underTitle____content">
        <p class="dashborad">
          <a class="text-white" href="{% url 'HomePageView' %}"
            ><span
              class="iconify side___icon"
              data-icon="clarity:dashboard-outline-badged"
            ></span>
            Dashboard</a
          >
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span class="iconify side___icon" data-icon="ep:food"></span> Food
            Center
          </a>
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span
              class="iconify side___icon"
              data-icon="gis:poi-favorite-o"
            ></span
            >Favorite
          </a>
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span
              class="iconify side___icon"
              data-icon="bpmn:intermediate-event-catch-message"
            ></span>
            Message
          </a>
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span
              class="iconify side___icon"
              data-icon="ic:outline-history-toggle-off"
            ></span>
            Order History
          </a>
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span
              class="iconify side___icon"
              data-icon="healthicons:bills-outline"
            ></span>
            Bills
          </a>
        </p>
        <p>
          <a class="rest____sidebar___link" href="#"
            ><span class="iconify side___icon" data-icon="ep:setting"></span>
            Setting
          </a>
        </p>
      </div>
  
      <div class="last____title____content mt-5">
        <p class="text-white">asdadas asdasdas</p>
        <p class="text-white">asdadas asdasdas</p>
        <p class="text-white">asdadas asdasdas</p>
        <div class="d-flex justify-content-center mt-3">
          <button class="upgradeBtn">Upgrade</button>
        </div>
      </div>
    </div>
  </div>
  <div class="admin____overlay"></div>