{% load static %} 
{% load custom_filter %}
{% include 'main/base.html' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<div class="right_____content" id="right-side">
    <div class="account___part d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p class="me-3 fs-4 closeIcon" id="closeIconForCart"><span class="iconify" data-icon="ei:close-o"></span></p>
        <a href="#"
          ><p class="me-3 fs-4">
            <span class="iconify" data-icon="carbon:notification"></span></p
        ></a>
        <a href="#"
          ><p class="me-3 fs-4">
            <span class="iconify" data-icon="akar-icons:alarm"></span></p
        ></a>
        <a href="#"
          ><p class="me-3 fs-4">
            <span class="iconify" data-icon="carbon:user-settings"></span></p
        ></a>
      </div>
      <div>
        <a href="#"
          ><p class="ms-3 fs-2">
            <span class="iconify" data-icon="carbon:user-avatar"></span></p
        ></a>
      </div>
    </div>


    <!-- your balance  start-->

    <div class="mt-3 balance____part">
      <p class="fw-bold">Your Balance</p>
      <img src="{% static 'images/bg-1.jpeg' %}" />
      <div class="balance____overlay">
        <div class="first___inner___div m-1">
          <p class="fw-bold" style="font-size: 16px">Balance</p>
          <p class="fw-bold fs-4 balance_____class">${{ balance.balance }}</p>
        </div>
        <div class="top_____balance">
          <form>
            <div class="first____top m-1">
              <button>
                <p class="first____icon">
                  <span class="iconify" data-icon="bx:bx-transfer"></span>
                </p>
              </button>
              <p class="text-white" style="font-size: 16px">Transfer</p>
            </div>
          </form>
          <form>
            <div class="first____top m-1">
              <button>
                <p class="first____icon">
                  <span class="iconify" data-icon="bi:arrow-up-circle"></span>
                </p>
              </button>
              <p class="text-white" style="font-size: 16px">Top Up</p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- your balance  end-->

    <!-- address start -->
    <div class="main____address mt-3">
      <p class="address____title">Your Address</p>
      <div class="address____details">
        <div class="address____icon">
          <p>
            <span
              class="iconify iconicon"
              data-icon="carbon:location-star-filled"
            ></span>
          </p>
          <p class="fw-bold" style="font-size: 17px">Address</p>
        </div>
        <div class="change___btn">
          <!-- Get address from here -->
          <button id="myBtn">Change</button>
        </div>
        <!-- The Modal -->
<div class="main____modal">
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="container main___container">
        <!-- Search input -->
        <div class="all____class__search">
          <!-- <input
          id="searchInput"
          class="controls"
          type="text"
          placeholder="Enter a location"
        /> -->
       <!-- <p id="map-icon" class="main___map___icon"> <span class="iconify map____icon" data-icon="el:map-marker-alt"></span></p> -->
        </div>

        <!-- <div id="map__searchInput">
          <input id="map__input" type="text" placeholder="Enter a location..." />
        </div> -->
  
        <!-- Google map -->
        <div id="map"></div>
      </div>
    </div>
  
  </div>
</div>
      </div>
      <p class="address______details mt-1">
        <p id="user__addressVal" class="d-none"></p>
      </p>

      <div class="details_____note mt-2">
        <button>Add Details</button>
        <button>Add Note</button>
      </div>
    </div>
    <!-- address end -->

    <!-- order menu start -->
    {% if user.is_authenticated %}
    <div class="main____order___menu___container mt-3">
      <p class="fw-bold fs-5">Cart</p>
      {% if request.session.cart %}
      {% for c in cart_products %}
      <div class="main____order___menu mt-2">
        <div class="d-flex order___menu__img">
          <img src="{{ c.product_image.url }}" />
          <div class="order___menu__price ms-2">
            <p style="font-size: 16px">{{ c.title }}</p>
            <p>x{{ c|cart_quantity:request.session.cart }}</p>
          </div>
        </div>
        <div class="order_____menu">
          {% if c.sale_price %}
          <p class="fw-bold">+ <span class="dollar">$</span>{{ c.sale_price }}</p>
          {% else %}<p class="fw-bold">+ <span class="dollar">$</span>{{ c.regular_price }}</p>{% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
        <div class="alert alert-warning" role="alert">
          No Products Added
        </div>
      {% endif %}
    </div>
    
    <!-- order menu end -->

    <!-- service and total start -->
    <div class="service_____container mt-3">
      <div
        class="local____Service d-flex justify-content-between align-items-center"
      >
        {% comment %} <p class="service">Service</p> {% endcomment %}
        
      </div>
      {% if request.session.cart %}
      <div
        class="local____Service d-flex justify-content-between align-items-center"
      >
        <p class="fw-bold">Total</p>
        <p style="font-size: 21px" class="fw-bold">
          +<span class="dollar">$</span>{{ cart_products|get_grand_total:request.session.cart }}
        </p>
      </div>
      {% endif %}
      {% endif %}
    </div>
    <!-- service and total end -->

    <!-- checkout btn start -->
    <div class="checkout_____container mt-5">
      
        <div class="coupon d-flex align-items-center">
          <form>
          <button class="coupon____btn"><span class="iconify dollar" data-icon="carbon:add-alt"></span></button>
          </form>
          <input class="ms-3" type="text" placeholder="Have a coupon code?" />
        </div>
        
        <div class="checkoutBTN d-flex justify-content-center mt-3">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            checkout
          </button>
        </div>
      
    </div>
    <!-- checkout btn end -->
  </div>
  <div class="admin____overlayyyy"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          {% comment %} Get address of user value from google map {% endcomment %}
          <input type="hidden" id="user__address" name="address" value="" />
          <input type="hidden" id="user__lat" name="user_lat" value="" />
          <input type="hidden" id="user__long" name="user_long" value="" />

          <label class="form-label">Apartment No.</label>
          <input type="text" class="form-control" name="apartment_no">
          <label class="form-label">Road No.</label>
          <input type="text" class="form-control" name="road_no">
          <label class="form-label">Flat No.</label>
          <input type="text" class="form-control" name="flat_no">
          <label class="form-label">Select payment method</label>
          <select class="form-control" name="paymentmethod">
            <option selected>Select</option>
            {% for p in payment_methods %}
              <option value="{{ p.id }}">{{ p.payment_title }}<option>
            {% endfor %}
          </select>
          <br>
          <button type="submit" class="btn btn-warning">Checkout now</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
