.main____table {
  background-color: #fff;
  padding: 12px;
}
.main____dept____table {
  background: #fff;
  border-radius: 6px;
}
.cross____icon {
  font-size: 25px;
  transition: 0.2s all ease-in-out;
}
.cross____icon:hover {
  transform: scale(1.1);
  color: #2e59d9;
}
.upload_____img input {
  visibility: hidden;
}

.upload_____img label {
  cursor: pointer;
  border: 1px solid #2e59d8;
  background: #fff;
  color: #2e59d8;
  padding: 8px 20px;
  border-radius: 5px;
  text-align: center;
}
.all____check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.side____color{
  background-color: #db0f83 !important;
  border: #db0f83 !important;
  background-image: none !important;
}


/* addons */
.price_______name p{
  margin-block-end: 0;
  margin-block-start: 0;
}
.price_______name p:first-child{
  font-size: 25px;
}
.main____adons{
  background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* settings */
.vendor____pills .vendor____link.active{
  color: #fff !important; 
    background-color: #DB0F83 !important;
}
.vendor____link{
  color: #DB0F83 !important;
}