{% load static %}
{% include 'base.html' %}
<script src="{% static 'admin-vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'admin-js/sb-admin-2.min.js' %}" defer></script>


  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FOODOKO Admin <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'adminDashboard' %}">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Category Management</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li> -->
    <!-- Divider -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categoryView' %}">
            <!-- <i class="fas fa-fw fa-table"></i> -->
            <span>Category Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productView' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Product Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'VendorView' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Vendor Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'driverView' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Driver Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'penaltyview' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Penalty</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'roleview' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Roles Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'permissionsView' %}">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Permissions Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Coupon Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <!-- <i class="fas fa-fw fa-chart-area"></i> -->
            <span>Vehicle Management</span></a>
    </li>
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->



